# exercism
.exercism/
*.md

# ruby track
*_test.rb

# javascript track
*.spec.js
*.config.js

# typescript track
*.test.ts
tsconfig.json

# npm && yarn && eslint
node_modules/
package*.json
yarn.lock
.eslint*

